@model Journals.Model.IssueViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
<div>
    <div class="modal-body">

        @using (Html.BeginForm("Create", "Issues", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "alert alert-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.JournalId, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.JournalId, new {@class = "form-control", @readonly = "readonly"})
                        @Html.ValidationMessageFor(model => model.JournalId, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VolumeNo, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.VolumeNo, new {@class = "form-control", @readonly = "readonly"})
                        @Html.ValidationMessageFor(model => model.VolumeNo, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IssueNo, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.IssueNo, new {@class = "form-control", @readonly = "readonly"})
                        @Html.ValidationMessageFor(model => model.IssueNo, "", new {@class = "text-danger"})
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.Label("Journal File", new {@class = "control-label col-md-2"})
                    (Not more than 3.5 MB)
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => Model.File, new {type = "file", accept = ".pdf"})
                        @Html.ValidationMessageFor(m => Model.File)
                    </div>
                </div>
                <br/>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Back to List</button>
                        @if (Html.ViewData.ModelState.IsValid)
                        {
                            <button type="submit" class="btn btn-success">Create</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success disabled" disabled = 'disabled'>Create</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</body>
</html>
